body {
    background-color: #778da9;
}

.container {
    display: grid;
    background-color: #e0e1dd;
    grid-template-rows: auto auto 1fr;
    height: 20vh;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 10px;
}

.navigation {
    color: #1b263b;
    display: flex;
    gap: 20px;
    font-size: 3vh;
}

.name {
    color: #1b263b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    height: 100%;
}

.socials {
    justify-content: right;
    display: flex;
    gap: 20px;
}

.socials * {
    width: 5vh;
    height: 5vh;
}

a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.1s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

a.active {
    font-weight: bolder;
}
