.container {
    display: grid;
    background-color: ghostwhite;
    grid-template-rows: auto auto 1fr;
    height: 20vh;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 20px;
}

.navigation {
    display: flex;
    gap: 20px;
    font-size: 3vh;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    height: 100%;
}

.socials {
    justify-content: right;
    display: flex;
    gap: 20px;
}

.socials * {
    width: 5vh;
    height: 5vh;
}

.intro {
    background-color: slategray;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.connect {
    align-content: center;
    background-color: aquamarine;
    width: 15vh;
    height: 5vh;
    padding: 5px;
    border-radius: 15%;
}

.projects {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: ghostwhite;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: ghostwhite;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.card-info {

}

.project-photos img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: lightgray;
    padding: 1vh;
    text-align: center;
    font-weight: lighter;
}
